<!DOCTYPE html>
<html>
	<head>
		<title>Track an Expense... </title>
	</head>
	<body>
		<form method="POST">
			<label>Enter Goal ID (temp):</label>
			<input type="number" name="expense_id" placeholder="420" required><br/>

			<label>Enter User ID (temp)</label>
			<input type="number" name="user_id" placeholder="69" required><br/>

      <label>Enter Description</label>
			<input type="text" name="description" placeholder="Bought some Chipotle" required><br/>

      <label>Enter Date</label>
			<input type="date" name="date" placeholder="..." required><br/>

      <label>Enter Amount $</label>
			<input type="number" name="amount" placeholder="8" required><br/>

      <label>Enter Category</label>
			<input type="radio" name="category" required><br/>

			<input type = "submit" value = "submit"/><br/>
		</form>
	</body>
</html>


