  <!DOCTYPE html>
  <html>
    <head>
      <title>Create a Goal... </title>
    </head>
    <body>
      <form method="POST">
        <label>Enter Goal ID (temp):</label>
        <input type="number" name="goal_id" placeholder="420" required><br/>

        <label>Enter User ID (temp)</label>
        <input type="number" name="user_id" placeholder="69" required><br/>

        <label>Enter Title</label>
        <input type="text" name="title" placeholder="Jaxon's Goal" required><br/>

        <label>Enter Description</label>
        <input type="text" name="description" placeholder="Save $100 by Feb." required><br/>

        <label>Enter Target Amount</label>
        <input type="number" name="target_amount" placeholder="100" required><br/>

        <label>Enter Start Time</label>
        <input type="date" name="start_time" placeholder="..." required><br/>

        <label>Enter End Time</label>
        <input type="date" name="end_time" placeholder="..." required><br/>

        <label>Enter Progress Level</label>
        <input type="text" name="progress_level" placeholder="Medium" required><br/>

        <label>Enter Priority Level</label>
        <input type="text" name="priority_level" placeholder="High" required><br/>

        <label>Enter Frequency</label>
        <input type="text" name="frequency" placeholder="Weekly" required><br/>

        <input type = "submit" value = "submit"/><br/>
      </form>
    </body>
  </html>








