<!DOCTYPE html>
<html>
	<head>
		<title>Flask and SQLite </title>
	</head>
	<style>
		table, th, td {
		border:1px solid black;
		}
		</style>
	<body>
    <caption>Users</caption>
		<table style="width:100%">
			<tr>
      <th>ID</th>
			<th>Name</th>
			<th>Email</th>
			</tr>
			{%for user in users_data%}
			<tr>
				<td>{{user[0]}}</td>
				<td>{{user[1]}}</td>
				<td>{{user[2]}}</td>
				</tr>
			{%endfor%}
		</table>
    <br>


    <caption>Expenses</caption>
    <table style="width:100%">
			<tr>
      <th>ID</th>
			<th>User ID (Foreign)</th>
			<th>Description</th>
			<th>Date</th>
			<th>Amount</th>
			<th>Category</th>
			</tr>
			{%for expense in expenses_data%}
			<tr>
				<td>{{expense[0]}}</td>
				<td>{{expense[1]}}</td>
				<td>{{expense[2]}}</td>
				<td>{{expense[3]}}</td>
				<td>{{expense[4]}}</td>
				<td>{{expense[5]}}</td>
				</tr>
			{%endfor%}
		</table>
    <br>


    <caption>Goals</caption>
    <table style="width:100%">
			<tr>
      <th>ID</th>
			<th>User ID (Foreign)</th>
			<th>Title</th>
			<th>Description</th>
			<th>Target Amount</th>
			<th>Start Time</th>
			<th>End Time</th>
			<th>Progress Level</th>
			<th>Priority Level</th>
			<th>Frequency</th>
			</tr>
			{%for goal in goals_data%}
			<tr>
				<td>{{goal[0]}}</td>
				<td>{{goal[1]}}</td>
				<td>{{goal[2]}}</td>
				<td>{{goal[3]}}</td>
				<td>{{goal[4]}}</td>
				<td>{{goal[5]}}</td>
				<td>{{goal[6]}}</td>
				<td>{{goal[7]}}</td>
				<td>{{goal[8]}}</td>
				<td>{{goal[9]}}</td>
				</tr>
			{%endfor%}
		</table>
	</body>
</html>
